<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below:</p>
      <ul>
        <%= for {attr, message} <- f.errors do %>
          <li><%= humanize(attr) %> <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :nome, "Nome" %>
    <%= text_input f, :nome, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, :data_criacao, "Data criacao" %>
    <%= date_select f, :data_criacao, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, :ingredientes, "Ingredientes" %>
    <%= text_input f, :ingredientes, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, :tipo, "Tipo" %>
    <%= text_input f, :tipo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, :volume, "Volume(ml)" %>
    <%= number_input f, :volume, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
