<h2>Lista das cervejas</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data criação</th>
      <th>Ingredientes</th>
      <th>Tipo</th>
      <th>Volume(ml)</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for cerveja <- @cervejas do %>
    <tr>
      <td><%= cerveja.nome %></td>
      <td><%= cerveja.data_criacao %></td>
      <td><%= cerveja.ingredientes %></td>
      <td><%= cerveja.tipo %></td>
      <td><%= cerveja.volume %></td>

      <td class="text-right">
        <%= link "Show", to: cerveja_path(@conn, :show, cerveja), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: cerveja_path(@conn, :edit, cerveja), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: cerveja_path(@conn, :delete, cerveja), method: :delete, class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "Adicionar cerveja", to: cerveja_path(@conn, :new) %>
