<h2>Detalhe da cerveja</h2>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @cerveja.nome %>
  </li>

  <li>
    <strong>Data criação:</strong>
    <%= @cerveja.data_criacao %>
  </li>

  <li>
    <strong>Ingredientes:</strong>
    <%= @cerveja.ingredientes %>
  </li>

  <li>
    <strong>Tipo:</strong>
    <%= @cerveja.tipo %>
  </li>

  <li>
    <strong>Volume(ml):</strong>
    <%= @cerveja.volume %>
  </li>

</ul>


<%= link "Edit", to: cerveja_path(@conn, :edit, @cerveja) %>
<%= link "Back", to: cerveja_path(@conn, :index) %>
