<div class="jumbotron">
  <h2>Bem-vindo a loja de Cervejas Phoenix!</h2>
  <p class="lead">Só uma loja de prova para desenvolvimeno em <a href="http://phoenixframework.org">Phoenix</a> e <a href="http://elixir-lang.org">Elixir</a>.</p>
<%= link "Ver Lista", to: cerveja_path(@conn, :index) %>
</div>
